 <!DOCTYPE html>
<body style="background-color: greenyellow">
<h1 style="color: hotpink;">Safi Monday Michael</h1>
<p>I'm a backend developer and a freelancer from Nigeria, I'm hardworking and efficient.</p>
<p>I started my programming career with Comet; an IT company that helps in providing data analysis and cyber security in 2016</p>
<p>I'm passionate about technology and human behavior, I'm hardworking and also a fast-learner. </p>
<p>I have 5+ years expereience in web development. I can work with Python language and Django web framework.</p>
<P>I have many skills and values to offer your company, they include: 
      <li>Critical thinking</li>
      <li>Project management</li>
      <li>Good communication skills</li>
      <li>Time management</li>
      <li>Problem solving skills</li>
      <li>Organizational skills</li>
</P>
<div>
  <h2 style="color: blue;">Contact details</h2>
  <p>Phone: +234 8165680638</p>
  <p>Email: safimichael35@gmail.com</p>
  <p>Address: 55a Admiralty way Lekki Phase 1, Lagos, Nigeria</p>
  <p>Postal code: 100001</p>
</div>
</body>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
 
<h3 style="color: blue;">Customer Form</h3>
<hr>

<form action="" method="post">
	{% csrf_token %}
	{{form}}
	<input type="submit">
	
</form>
